<!--
  Notes:
  - Spending Date
  - Spending Description
  - Cash / EWallet / Bank transfer
  
  - Show total amount in 3 places
    - Cash in hand
    - E-wallet
    - Bank
  - Latest transactions
    - Can view the transaction in detail on click
  - Spending categories
    - Home
    - Groceries
    - Food & Drink
    - Fuel
    - Vehicle Expenses
    - Health
    - Shopping
    ** can add more categories accordingly
-->
<h2>Hello World</h2>

<button type="button" (click)="showDialog()">Show Dialog</button>

<dialog #dialog>
  <button type="button" (click)="closeDialog()">Close</button>
  <p>Inside of this built in dialog</p>
</dialog>
<router-outlet />
