/* You can add global styles to this file, and also import other style files */
@import "./reset";

:root{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.icon-container{
    --size: 3rem;
    --color: #000;
    width: var(--size);
    height: var(--size);
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    > *{
        height:90%;
        width:90%;
        object-fit: cover;
        fill: var(--color);
    }
}